

.title h1 {
  font-size: 28px;
  font-weight: bold;
  margin-left: 45px;
}

.curated-picks {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; 
  padding: 20px;
  margin-left: 40px;
}

.curated-item {
  position: relative;
  width: 100%;
  max-width: 380px; 
  overflow: hidden;
  border-radius: 8px; 
}

.curated-item img {
  width: 100%;
  height: auto;
  display: block;
}

