

.header {
    background-color: #fff;
    
  }
  
  .header-top {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .header-top a {
    color: #fff;
    text-decoration: underline;
  }
  
  .header-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
  }
  
  .header-main h1 {
    font-size: 24px;
   
    margin-left: 50px;
  }
  
  .header-main nav a {
    
    font-size: 19px;
    margin-left: 120px;
    margin-right: 60px;
    gap:5px;
    padding:5px
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the header actions to the end */
}

.search-icon {
    color: #b0b0b0;
    font-size: 18px;
    margin-right: 10px; /* Space between icon and input */
}

.search-input {
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    outline: none;
    font-size: 16px;
    color: #000;
    margin-right: 20px; /* Space between input and icons */
}

.icons {
    display: flex;
    align-items: center;
}

.icons .icon {
    font-size: 20px;
    color: #000;
    margin-left: 20px; 
}